<div class="card">
  <div class="card-header">
      Nombre del proveedor
    </div>
    <div class="row card-body">
      <div class="col-sm-6 col-md-4">
          Imagen del proveedor
          <img src="" alt="">
      </div>
      <div class="col-sm-6 col-md-8">
        <p>
          Descripción del proveedor
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
          consequat.
        </p>
        <p>
          Número de contacto: <strong>(+57) 321 123 456</strong>
        </p>
      </div>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-primary"
              (click)="isCollapsed = !isCollapsed">
              Contactar proveedor
      </button>
    </div>
  </div>
