<div class="container">
  <h1>Editar perfil</h1>
  <hr>
<div class="row">
        
    <!-- edit form column -->
    <div *ngIf="error" class="col-md-12 alert alert-info alert-dismissable"> 
      <i class="fa fa-coffee"></i>
      Hubo un problema. Por favor verifica que la contraseña contenga al menos 7 caracteres, una minúscula y una mayúscula
    </div>
    <form>
      <div class="col-md-12 personal-info">
        <h3>Información personal</h3>
        
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-lg-3 control-label">Nombres:</label>
            <div class="col-lg-8">
              <input [(ngModel)]="newUser.Nombres" name="firstname" class="form-control" type="text" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Apellidos:</label>
            <div class="col-lg-8">
              <input [(ngModel)]="newUser.Apellidos" name="lastname" class="form-control" type="text" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input name="email" class="form-control" type="text" [value]="currentUser.Correo" readonly>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Password:</label>
            <div class="col-md-8">
              <input [(ngModel)]="newUser.Password" name="Password" class="form-control" type="password" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input (click)="onSubmit()" type="submit" class="btn btn-primary" value="Guardar cambios">
              <span></span>
              <input type="reset" class="btn btn-default" value="Cancelar">
            </div>
          </div>
        </form>
      </div>
    </form>
</div>
</div>