<div class="container">
  <div class="card card-accent-primary">
    <div class="card-header">
      Nombre del proveedor
    </div>

    <div class="row card-body">

      <div class="col-md-4">
        <div>
            Imagen del proveedor
            <img src="" alt="">
        </div>
        
        
      </div>

      <div class="col-md-8">
        
        <div>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>

        <div>
          Número de contacto 
          <strong> (+57) 321 123 456</strong>
        </div>

        <button type="button" class="btn btn-pill btn-primary">
          Contactar proveedor
        </button>

      </div>


    </div>
  </div>
</div>
