<div class="card">
 <div class="card-header">
    Nombre del paquete
    <div class="card-header-actions">
      <span class="badge badge-pill badge-danger float-right">$US42</span>
    </div>
  </div>
  <div class="row card-body">
    <div class="col-sm-6 col-md-4">
        Imagen de paquete
        <img src="" alt="">
    </div>
    <div class="col-sm-6 col-md-4">
      <p>
        Descripción del paquete
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
        consequat.
      </p>
    </div>

    <div class="col-md-4">
        <p>
          <span class="badge badge-pill badge-info float-left">Disponible</span>
        </p>
        <ul>
          <li>Servicio 1</li>
          <li>Servicio 2</li>
          <li>Servicio 3</li>
        </ul>

        <p>Descuento: <strong>50%</strong></p>
    </div>
  </div>
  <div class="card-footer">
    <button type="button" class="btn btn-primary"
            (click)="isCollapsed = !isCollapsed">Ver oferta
    </button>
  </div>
</div>

<!-- <div class="col-xs-12 col-12">
  <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" class="pagination-sm" [maxSize]="6"
              previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
</div> -->
