<div class="container">
  <div class="card card-accent-primary">
    <div class="card-header">
      Nombre de la oferta
    </div>

    <div class="row card-body">

      <div class="col-md-8">
        <div>
            Imagen de paquete
            <img src="" alt="">
        </div>
        
        <div>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>

        <div>
          <ul>
            <li>Servicio 1</li>
            <li>Servicio 2</li>
            <li>Servicio 3</li>
          </ul>
        </div>
      </div>

      <div class="col-md-4">
        <h1 class="text-center">$42US</h1>
        <p>Descuento: <strong>50%</strong></p>
        <p>
          <span class="badge badge-pill badge-info float-left">Disponible</span>
        </p>

        <button type="button" class="btn btn-pill btn-primary">
          Añadir
        </button>

      </div>


    </div>
  </div>
</div>
