<div class="animated fadeIn">
  <div class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="clearfix">
            <h1 class="float-left display-3 mr-4">MKPLC</h1>
            <h4 class="pt-3">Bienvenido a Marketplace</h4>
            <p class="text-muted">Ingresa tu destino de preferencia</p>
          </div>
          <div class="input-prepend input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
            <input id="prependedInput" class="form-control" size="16" type="text" placeholder="What are you looking for?">
            <span class="input-group-append">
              <button class="btn btn-info" type="button">Search</button>
            </span>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label">Tipo de búsqueda:</label>
            <div class="col-md-9 col-form-label">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="radios" id="radio1" value="option1" checked>
                <label class="form-check-label" for="radio1">
                  Proveedores
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="radios" id="radio2" value="option2">
                <label class="form-check-label" for="radio2">
                  Ofertas
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="radios" id="radio3" value="option3">
                <label class="form-check-label" for="radio3">
                  Todos
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>

<!-- <app-packs></app-packs> -->