<div class="container">
  <div class="card card-accent-primary">
    <div class="card-header">
      Nombre de la oferta
    </div>

    <div class="card-body">
      <table class="table table-striped">
          <thead>
            <tr class="d-flex">
              <th class="col-3">Imagen</th>
              <th class="col-4">Descripción</th>
              <th class="col-2">Precio</th>
              <th class="col-2">Cantidad</th>
              <th class="col-1">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr class="d-flex">
              <td class="col-3">Imagen 1</td>
              <td class="col-4">Descripción 1
                <p>
                  <span class="badge badge-success">In Stock</span>
                </p>
              </td>
              <td class="col-2">$42US</td>

              <td>
                <select class="form-control" id="ccmonth">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                </select>
              </td>
              <td class="col-2">
                <button class="text-center">x</button>
              </td>
            </tr>
            
          </tbody>
        </table>
      </div>
  </div>
</div>
