<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 align-items-center mt-5 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form #form="ngForm" (ngSubmit)="register()" name="form">
                <h1>Registro</h1>
                <p class="text-muted">Crea tu cuenta</p>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input [(ngModel)]="name" type="text" name="name" class="form-control" placeholder="Nombres" autocomplete="name" required>
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input [(ngModel)]="lastname" type="text" name="lastname" class="form-control" placeholder="Apellidos" autocomplete="lastname" required>
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input [(ngModel)]="email" type="text" name="email" class="form-control" placeholder="Email" autocomplete="email" required>
                </div>


                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input [(ngModel)]="password" type="password" name="password" class="form-control" placeholder="Contraseña" autocomplete="new-password" required>
                </div>

                <button type="submit" class="btn btn-block btn-success">Crear cuenta</button>
              </form>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
